.ant-table-tbody>tr>td {
  
  border-spacing: 9px;
  transition: background .3s;
}

.ant-table-tbody {
  border-spacing: 9px;
  transition: background .3s;
}
tr {
  width: 25%;
}

.table-cell{
  border-right: 1px solid #CED1D4
  ;
}